//
//  Config.xcconfig
//  MovieApp
//
//  Created by Ahmed Raslan on 25/08/2025.
//


SLASH = /

API_BASE_URL = https:$(SLASH)/api.themoviedb.org/
API_Key = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1YWQ2MTI5Yzc1OWJhNzVjMGVjYmRmMzdlYmUwMmNiOCIsIm5iZiI6MTc1NjEzOTEwOS44MDksInN1YiI6IjY4YWM4ZTY1ZDYzOTI2NDgyMjc4MjU3ZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.v0dgmpdqmJY8jHNGHK0211uH00lBy9-WGzaZKHJOwL0
 
